@import 'https://fonts.googleapis.com/css?family=Ubuntu';
@import './materialdesignicons.css';
@import './columns.css';

body,
html {
  height: 100%;
  font-family: 'Ubuntu';
  font-size: 13px;
  margin: 0;
  padding: 0;
  width: 100%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1 {
  font-size: 25px;
  margin: 0;
  padding: 10px;
  text-align: center;
}

h3 {
  margin: 0;
  padding: 5px;
  text-align: center;
}

h5 {
  font-size: 13px;
  margin: 10px 0 0 0;
}

header {
  background-color: #21252B;
  height: 45px;
  margin-bottom: 10px;
}

.center {
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 0 auto;
  width: 60%;
}

.container {
  padding: 10px;
}

@media (max-width: 768px) {
  .center {
    width: 100%;
  }

  .right-panel {
    margin: 0 10px;
  }
}

.left-panel {
  padding: 10px;
}

.form-group input {
  border: 1px solid #ced4da;
  border-radius: 5px;
  height: 35px;
  margin: 10px 0;
  padding: 0 10px;
  width: 100%;
}

.form-group label,
h5 {
  display: block;
  font-weight: bold;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.btn {
  display: inline-block;
  cursor: pointer;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn:hover {
  color: #212529;
  background-color: #e2e6ea;
  border-color: #dae0e5;
}

.btn-red {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-red:hover {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
}

.action-group {
  padding: 10px;
  text-align: center;
}

.right-panel {
  background-color: #eee;
  border-radius: 5px;
  padding: 10px;
}

.right-panel:after {
  content: "";
  display: table;
  clear: both;
}

/*===[Radio Group]===*/

.radio-group {
  border: solid 1px #eee;
  border-radius: 3px;
  display: inline-block;
  margin: 10px 0;
  overflow: hidden;
}

.radio-group input[type=radio],
.vote-group input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
}

.radio-group label {
  background-color: #f8f9fa;
  color: #212529;
  cursor: pointer;
  display: inline-block;
  font-size: 11px;
  padding: 10px;
}

.radio-group input[type=radio]:checked + label {
  background-color: #dae0e5;
  border-color: #bd2130;
}

.vote-group h5 {
  margin: 0;
}

.vote-group label {
  color: #ccc;
  cursor: pointer;
  display: inline-block;
  font-size: 19px;
  padding: 10px;
}

.vote-group input[type=radio]:checked + label {
  color: #666;
}
